<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="H2CodezLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="H2CodezLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <H2CodezLauncher.Properties.Settings>
            <setting name="h2codez_dll_version" serializeAs="String">
                <value />
            </setting>
        </H2CodezLauncher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <H2CodezLauncher.Properties.Settings>
            <setting name="version_url" serializeAs="String">
                <value>https://ci.appveyor.com/api/projects/num0005/h2-toolkit-launcher/artifacts/version</value>
            </setting>
            <setting name="launcher_update_url" serializeAs="String">
                <value>https://ci.appveyor.com/api/projects/num0005/h2-toolkit-launcher/artifacts/Launcher/bin/Release/H2CodezLauncher.exe</value>
            </setting>
            <setting name="h2codez_update_url" serializeAs="String">
                <value>https://ci.appveyor.com/api/projects/num0005/h2codez/artifacts/Release/H2Codez.dll</value>
            </setting>
            <setting name="h2codez_version_url" serializeAs="String">
                <value>https://ci.appveyor.com/api/projects/num0005/h2codez/artifacts/version</value>
            </setting>
        </H2CodezLauncher.Properties.Settings>
    </applicationSettings>
</configuration>